<a href="https://colab.research.google.com/github/asthanas/DataScienceFoundation/blob/master/DSFoundation_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Basics  - Data Science foundation**


**IPython notebook**

IPython is a software package in Python that serves as a research notebook. IPython has a seamless interface using which you can write notes as well as perform data analysis in the same file. The data analysis part allows you to write the code and run it from within the notebook itself. The results also are displayed in the notebook. Among other things, IPython provides:

1. An interactive shell
2. Notebook that is browser based. The notebook supports text, code, expressions, graphs and interactive data visualization, embed images and videos, and also links to web pages on the Internet. 
3. Tools for parallel computing.
4. Import external code and run it.
5. Export the notebook in a number of formats.

**Creating an IPython notebook**

In order to create an IPython notebook, choose File -> New -> IPython notebook. 

Hitting Alt+Enter creates a new cell. A cell is nothing but a placeholder where you can write some text or execute code. 
To run press Shift+Enter

***Set the working directory so that we dont have to think about path problem***

In [0]:
import os #This is calling a pre-defined library with some standard capabilities which are getting imported
os.getcwd() #get the current working directory

'/content'

In [0]:
your_local_path = os.getcwd()

In [0]:
print("Hey this is Kaption Cryption")

Hey this is Kaption Cryption

In [0]:
print("An example of code execution in Python")
22*45

An example of code execution in Python

990

In [6]:
ls #get list of files

apple.py           capm_dem.txt  HelloWorld.py  sample_data/
capm_dem_copy.txt  fruit.py      mymodule.py

In order to find help on some concept, make use of ? If you want to find a function or make use of wildcard entry, make use of followed by ? A quickref command gives you a quick reference to the most commonly used commands in Python.

In [0]:
print?

In [0]:
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [23]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S