<a href="https://colab.research.google.com/github/asthanas/DataScienceFoundation/blob/master/DSFoundationPythonBasicsPart2_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Datetime**

Python has a built-in datetime module for working with dates and times. One can create strings from date objects and vice versa.

Python offers very powerful and flexible datetime capabilities that are capable of operating at a scale of time measured in nano-seconds. We will look more about date time functionality in Session 3.

In [0]:
from datetime import datetime, date, time
help(datetime.strptime)
date1 = datetime(2014,5,15,14,45,5)

print(date1)
print(date1.day)
print(datetime.strptime('21080516154550','%Y%m%d%H%M%S'))

date1 = datetime(2014, 5, 16)
date2 = datetime(2014, 5, 19)
datediff=date1 - date2

Help on built-in function strptime:

strptime(...) method of builtins.type instance
    string, format -> new datetime parsed from a string (like time.strptime()).

2014-05-15 14:45:05
15
2108-05-16 15:45:50

In [0]:
a = [ 'abcd', 786 , 2.23, 'ISB', 70.2 , "UPX"]
b = [1,4,7,2,9,10,11]
c = ["aasda assd asdas","basdasd asdasd","casdas asdas","pasdasd asdasd"]
d = [a, b, c , "NewElement",12,12.10]

#a[0] -> 'abcd'
#b[0] -> 1
#c[0] -> "a"
#d[0] -> [ 'abcd', 786 , 2.23, 'ISB', 70.2 , "UPX"]

tinylist = [123, 'ISB']

print (d)            # Prints complete list
print (d[0])         # Prints first element of the list
print (d[1:3])       # Prints elements starting from 2nd till 3rd # 1:3 > get 1, 2 and not 3 
print (d[2:])        # Prints elements starting from 3rd element # 2: get everything after 2 including 2 
print (b* 2)     # Prints list two times # it doesn't mean that each value gets multiplied by 2 
print (a + b) # Prints concatenated lists
print (len(d))
d[0][1]

[['abcd', 786, 2.23, 'ISB', 70.2, 'UPX'], [1, 4, 7, 2, 9, 10, 11], ['aasda assd asdas', 'basdasd asdasd', 'casdas asdas', 'pasdasd asdasd'], 'NewElement', 12, 12.1]
['abcd', 786, 2.23, 'ISB', 70.2, 'UPX']
[[1, 4, 7, 2, 9, 10, 11], ['aasda assd asdas', 'basdasd asdasd', 'casdas asdas', 'pasdasd asdasd']]
[['aasda assd asdas', 'basdasd asdasd', 'casdas asdas', 'pasdasd asdasd'], 'NewElement', 12, 12.1]
[1, 4, 7, 2, 9, 10, 11, 1, 4, 7, 2, 9, 10, 11]
['abcd', 786, 2.23, 'ISB', 70.2, 'UPX', 1, 4, 7, 2, 9, 10, 11]
6

786

In [0]:
d[0][1]

786

In [0]:
len(c[1])

14

In [0]:
len(c[0].split())

3

In [0]:
len(d[0]+d[1]+d[2])

17

In [0]:
c[0] = [1,2,2,3,3,4,5]
c

[[1, 2, 2, 3, 3, 4, 5], 'basdasd asdasd', 'casdas asdas', 'pasdasd asdasd']

In [0]:
c.append("XOXO")

In [0]:
c

[[1, 2, 2, 3, 3, 4, 5],
 'basdasd asdasd',
 'casdas asdas',
 'pasdasd asdasd',
 'XOXO',
 'XOXO']

In [0]:
type(d[5])

float

In [0]:
alist = ['abcd',786,2.23,'ISB',70.2]
blist = alist
alist = alist * 2
print(alist)

['abcd', 786, 2.23, 'ISB', 70.2, 'abcd', 786, 2.23, 'ISB', 70.2]

In [0]:
print(blist)

['abcd', 786, 2.23, 'ISB', 70.2]

In [0]:
blist = alist
print(blist)

['abcd', 786, 2.23, 'ISB', 70.2, 'abcd', 786, 2.23, 'ISB', 70.2]

In [0]:
list_ = ['Ajay','Vijay','Ramesh','Guy1','Guy2']
list_.append("Saurabh")   # add elemet to my list_ , it always adds at the last index 
list_.insert(2,"Viraj")   # Add element at a purticular postion
list_.extend(['Guy3','Guy4']) # Add elements at the end
print(list_)
print(list_.index('Viraj')) # Index of any element
list_.remove('Guy3') # remove element by name
list_.pop(1) # remove element by position
print(list_)

['Ajay', 'Vijay', 'Viraj', 'Ramesh', 'Guy1', 'Guy2', 'Saurabh', 'Guy3', 'Guy4']
2
['Ajay', 'Viraj', 'Ramesh', 'Guy1', 'Guy2', 'Saurabh', 'Guy4']

In [0]:
#sorting
numberlist = [1, 5, 23, 1 ,54,2, 54,23, 54,76, 76,34,87]
numberlist.sort()
print (numberlist)
print (len(numberlist))
print (max(numberlist))
print (min(numberlist))

[1, 1, 2, 5, 23, 23, 34, 54, 54, 54, 76, 76, 87]
13
87
1

In [0]:
string = ['abcd', 'efg', 'hijk', 'lmn']
print(string)
print(sorted(string, key=len))

['abcd', 'efg', 'hijk', 'lmn']
['efg', 'lmn', 'abcd', 'hijk']

In [0]:
#You can even pass your own function
mylist = ['abcg', 'eff', 'hijd', 'lmi']

def func1(input):
    return input[-1]

print (sorted(mylist, key=func1))

['hijd', 'eff', 'abcg', 'lmi']

**Dictionary**

One of the most important built-in data structure.
Python's dictionaries are kind of hash tables.
They work like associative arrays and consist of key-value pairs.
A dictionary key can be almost any Python type, but are usually numbers or strings.
Values, on the other hand, can be any arbitrary Python object.
Dictionaries are enclosed by curly braces **( { } )** and values can be assigned and accessed using square braces **( [] )**.

In [0]:
dict = {}
dict['one'] = "This is one"
dict[2] = "This is two"
tinydict = {'name': 'isb','code':6734,'dept':'sales'}

print (dict['one'])
print (dict[2])
print (tinydict)
print (tinydict.keys())
print (tinydict.values())

This is one
This is two
{'name': 'isb', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['isb', 6734, 'sales'])

In [0]:
d = {}
print (type(d))

d['ID'] = 121212
print(d)

<class 'dict'>
{'ID': 121212}

In [0]:
121212 : {
    Name : "Saurabh"
    Desig : "Data Scienist"
    Company : "Infosys"
    Add : ["Address1","Address2"]
    Code : 121212
    Location : ("GGN","HYD")
    DOJ : 19-Oct-2015
}

In [0]:
d = {}
d[121212] = "Saurabh"
print(d)
print(d.keys())
print(d.values())

{121212: 'Saurabh'}
dict_keys([121212])
dict_values(['Saurabh'])

In [0]:
a = (1,2,3,[1,2,3])
b = (1,2,[1,2])
print(type(a))
print(type(b))

a[3].append(10)
print(a)

c = (1,2)
c = (1,2,4)

# Tuples are moslty used as a return of a function 
c = list(a)
c.append("Name")

print (c)

<class 'tuple'>
<class 'tuple'>
(1, 2, 3, [1, 2, 3, 10])
[1, 2, 3, [1, 2, 3, 10], 'Name']

**Dictionary**

One of the most important built-in data structure.
Python's dictionaries are kind of hash tables.
They work like associative arrays and consist of key-value pairs.
A dictionary key can be almost any Python type, but are usually numbers or strings.
Values, on the other hand, can be any arbitrary Python object.
Dictionaries are enclosed by curly braces **( { } )** and values can be assigned and accessed using square braces** ( [] )**.

In [0]:
d = {}
print(type(d))
d['ID'] = 121212
print (d)

<class 'dict'>
{'ID': 121212}

In [4]:
d = {}
d[121212] = {}
d[121212]['Name'] = "Saurabh"
d[121212]['Desig'] = "Analyst"
d[121212]['Company'] = "Infosys"
d[121212]['Add'] = ["Address1","Address2"]
d[121212]['Location'] = ["GGN","HYD"]
d[121212]['Phone'] = [98989898,89898989]
d[121212]['DOJ']="19-OCT-2015"
print(d)

{121212: {'Name': 'Saurabh', 'Desig': 'Analyst', 'Company': 'Infosys', 'Add': ['Address1', 'Address2'], 'Location': ['GGN', 'HYD'], 'Phone': [98989898, 89898989], 'DOJ': '19-OCT-2015'}}